fastapi
uvicorn[standard]
psycopg2-binary
python-dotenv
sqlalchemy
bcrypt
fastapi-mail
pydantic[email]
jinja2
aiofiles
openpyxl
apscheduler
twilio
python-jose[cryptography]
httpx
slowapi
gunicorn
sentry-sdk[fastapi]
sendgrid
python-multipart
pdfplumber==0.11.0